.container {
    align-items: center;
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    height: 100vh;
    justify-content: space-around;
}

.text {
    position: relative;
    font-size: 2.75em;
    font-weight: normal;
    display: flex;
    transition: text-decoration 0.15s ease-out;
}

.arrow {
    height: 3.5rem;
    left: 50%;
    position: absolute;
    top: calc(95vh - 3rem);
}
