@font-face {
    font-family: 'Simplifica';
    src: url('../fonts/Simplifica.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
/* Document level adjustments */
html {
    font-size: 17px;
}
@media (max-width: 900px) {
    html { font-size: 14px; }
}
@media (max-width: 500px) {
    html { font-size: 12px; }
}
@media (max-width: 320px) {
    html { font-size: 7px; }
}

