div.container {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    font-size: 1rem;
    height: 12rem;
    margin-bottom: 10rem;
    transition: letter-spacing 0.15s ease-out;
    width: 90vw;
}

@media (max-width: 752px) {
    div.container {
        flex-direction: column-reverse;
        height: 20rem;
    }
}

div.flipped {
    flex-direction: row-reverse;
}

.hovering {
    letter-spacing: 0.075em;
}

.last {
    margin-bottom: 6rem;
}

/* image */
.image {
    filter: grayscale(1);
    flex-shrink: 0;
    min-height: 100%;
    transition: filter 0.15s ease-out;
    width: 100%;
}

.imageContainer {
    align-items: flex-start;
    display: flex;
    justify-content: center;
    overflow: hidden;
    width: 40%;
}

@media (max-width: 752px) {
    .imageContainer {
        height: 50%;
        width: 100%;
    }
}

.imageHovering {
    filter: none;
}

/* description */
div.descriptionContainer {
    box-sizing: border-box;
    padding: 0.5em 1em 1em 1em;
    width: 60%;
    border-width: 2px;
    border-style: solid solid solid none;
    border-color: black;
    display: flex;
    flex-direction: column;
}

@media (max-width: 752px) {
    div.descriptionContainer {
        border-style: none none none none;
        width: 100%;
        height: 50%
    }
}

div.descriptionFlipped {
    align-items: flex-end;
    border-style: solid none solid solid;
    text-align: right;
}

.descriptionText {
    font-size: 1.5em;
}

/* tag */
.tagContainer {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.tagFlipped {
    justify-content: flex-start
}

.title {
    font-size: 2.5em;
    margin-bottom: 0.2em;
}

.number {
    color: #BBBBBB;
}
